<div  class="matero-sidemenu level-0">
    <div class="matero-sidemenu-item b-r-1">
      <div routerLinkActive="active"
         *ngFor="let menuItem of menus"
         (click)="click(menuItem)">
       <div class="matero-sidemenu-link b-b-1"
        *ngIf="menuItem.type === 'sub'"
          matRipple [matRippleDisabled]="!ripple">
        <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
        <span class="menu-name">{{ menuItem.name | slice: 0:7 }}</span>
        <span class="menu-badge bg-{{ menuItem.badge.color }}" *ngIf="menuItem.badge">
          {{ menuItem.badge.value }}
        </span>
      </div>

      <a class="matero-sidemenu-link b-b-1"
        *ngIf="menuItem.type === 'link'"
        [routerLink]="['/', menuItem.state]"
        matRipple [matRippleDisabled]="!ripple">
        <mat-icon class="menu-icon">{{ menuItem.icon }}</mat-icon>
        <span class="menu-name">{{ menuItem.name }}</span>
        <span class="menu-badge bg-{{ menuItem.badge.color }}" *ngIf="menuItem.badge">
          {{ menuItem.badge.value }}
        </span>
      </a>

     </div>
  </div>
  <ul navAccordion  class="submenu level-0">
    <li navAccordionLink  class="matero-sidechildmenu-item b-b-1"
    routerLinkActive="active" 
    *ngFor="let childmenuItem of childmenu, let i = index" 
    [group]="childmenuItem.state">
            <a navAccordionToggle 
              class="matero-sidemenu-toggle"  
              *ngIf="childmenuItem.type === 'sub' "
              href="javascript:void(0);"
              matRipple [matRippleDisabled]="!ripple">
              <mat-icon class="menu-icon">{{ childmenuItem.icon }}</mat-icon>
              <span class="menu-name">{{ childmenuItem.name }}</span>
              <span class="menu-label bg-{{ menuItem.label.color }}" *ngIf="childmenuItem.label">
                {{ childmenuItem.label.value }}
              </span>
              <span fxFlex></span>
              <span class="menu-badge bg-{{ childmenuItem.badge.color }}" *ngIf="childmenuItem.badge">
                {{ menuItem.badge.value }}
              </span>
              <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
              <!-- <span class="menu-name">{{ childmenuItem.name }}</span> -->
            </a>
            <ul class="" *ngIf="childsubmenu" >
              <li routerLinkActive="active" *ngFor="let childmenusubItem of childmenuItem.childmenu" >
                <a *ngIf="childmenusubItem.type === 'link' " class="matero-sidechildmenu-item b-b-1" [routerLink]="['/', childmenu[i].state, childmenusubItem.state]"
                  matRipple [matRippleDisabled]="!ripple">
                <span class="menu-name">{{ childmenusubItem.name }}</span>
                </a>
              </li>
            </ul>
            <a class="matero-sidechildmenu-item b-b-1" *ngIf="childmenuItem.type === 'link' " [routerLink]="['/', childmenu[i].state, childmenuItem.state]"
              matRipple [matRippleDisabled]="!ripple">
              <span class="menu-name">{{ childmenuItem.name }}</span>
            </a>
      </li>
  </ul>
</div>
